#container {
    border: solid 1px red;
    max-width: 300px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
}

#buttons {
 display: flex;
 flex-wrap: wrap;
 gap: 12px;
 justify-content: center;
 background-color: black;
 padding-top: 5px;
 padding-bottom: 6px;
}

#screen {
    border: solid 2px blue;
}

.button {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}